<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Django Web Programming{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {% block extra-style %}{% endblock %}
</head>

<body style="padding-top: 90px;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand text-white mx-5 mb-0 font-weight-bold font-italic" href="{% url 'home' %}">Django - Python
      Web Programming</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-1 btn btn-primary">
          <a class="nav-link text-white" href="{% url 'bookmark:index' %}">Bookmark</a>
        </li>
        <li class="nav-item mx-1 btn btn-primary">
          <a class="nav-link text-white" href="{% url 'blog:index' %}">Blog</a>
        </li>
        <li class="nav-item mx-1 btn btn-primary">
          <a class="nav-link text-white" href="{% url 'photo:index' %}">Photo</a>
        </li>

        <li class="nav-item dropdown mx-1 btn btn-primary">
          <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Add</a>
          <div class="dropdown-menu">
            <a href="{% url 'bookmark:add' %}" class="dropdown-item">Bookmark</a>
            <a href="{% url 'blog:add'%}" class="dropdown-item">Post</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'photo:album_add' %}" class="dropdown-item">Album</a>
            <a href="{% url 'photo:photo_add' %}" class="dropdown-item">Photo</a>
          </div>
        </li>

        <li class="nav-item dropdown mx-1 btn btn-primary">
          <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">Change</a>
          <div class="dropdown-menu">
            <a href="{% url 'bookmark:change' %}" class="dropdown-item">Bookmark</a>
            <a href="{% url 'blog:change'%}" class="dropdown-item">Post</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'photo:album_change%}" class="dropdown-item">Album</a>
            <a href="{% url 'photo:photo_change%}" class="dropdown-item">Photo</a>
          </div>
        </li>
        <li class="nav-item dropdown mx-1 btn btn-primary">
          <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
            Util
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'blog:post_archive' %}">Archive</a>
            <a class="dropdown-item" href="{% url 'blog:search' %}">Search</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="post">
        {% csrf_token %}
        <input class=" form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
          name="search_word" />
      </form>

      <ul class="navbar-nav ml-5 mr-5">
        <li class="nav-item dropdown mx-1 btn btn-primary">
          {% if user.is_active %}
          <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">
            <i class="fa fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;
          </a>
          <div class="dropdown-menu">
            <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
            <a href="{% url 'password_change' %}" class="dropdown-item">Change Password</a>
          </div>
          {% else %}
          <a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown">
            <i class="fa fa-user"></i>&ensp;Anonymous&ensp;</a>
          <div class="dropdown-menu">
            <a href="{% url 'login' %}" class="dropdown-item">Login</a>
            <a href="{% url 'register' %}" class="dropdown-item">Register</a>
          </div>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  {% block footer %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>

  {% block extra-script %}{% endblock %}
</body>

</html>